:root {
  background-color: white;

}

* {
  margin: 0px;
  padding: 0px;
}

body {
  font-size: 16px;
  width: 1000px;
  margin: 0 auto;
  border: 3px solid #2386ff;
  font-family: Arial, sans-serif;
  line-height: 1.5;
  font-style: normal;
  background-image: linear-gradient(0deg, #d4eaf9 0%, rgb(227, 219, 219) 50%, #d4eaf9 100%)
}


header aside {
  float: left;
}
header section {
  float: right;
  padding-right: 75px;
}

header {
  border-bottom: 3px solid #2386ff;
  clear: left;
}

header h1 {
  text-align: left;
  padding-left: 200px;
  scale: 150%;
  padding-top: 10px;
  color: white;
}

main {
  clear: left;
  height: 550px;
}

main section {
  float: right;
  padding: 20px;
  padding-right: 75px;
}

main aside {
  width: 215px;
  float: left;
  padding-left: 50px;
}


section h2 {
  color: #2386ff;
	padding: 3px 0;
	border-top: 3px double  #2386ff;
	border-bottom: 3px double #2386ff;
	border-left: 3px double #2386ff;
	border-right: 3px double #2386ff;
	text-align: center;
	border-radius: 270px;
	box-shadow: 5px 2px 3px #edeb89;

}

aside ol {
  padding: 30px;
}

a[href="https://en.wikipedia.org/wiki/Driver%27s_license"] {
  color: #2386ff;
}



.shadow {
  text-shadow: 5px 2px 0px #edeb89;

}


img[alt="This is a picture of a random man with this thumbs up to emphasize the point."] {
  border: 5px solid #2386ff;
}


footer::before {
  content: "That's all folks!";
}

footer {
  padding-top: 10px;
  text-align: center;
  border-top: 3px solid #2386ff;
}


h1,
h2,
h3,
q {
  font-weight: bold;
  font-style: italic;
}